.dashboard {
  background: linear-gradient(135deg, #2d283e, #5d557e);
  color: whitesmoke;
  height: 80vh;

  display: grid;
  place-items: center;
  text-align: center;

  padding-inline: var(--padding-xlg);
}

.dashboard_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  height: 100%;

  border: 5px solid lime;
}

.dashboard_content .random_verse h2 {
  font-style: italic;
  font-weight: 600;
}

.dashboard_content .random_verse h5 {
  font-style: italic;
  font-weight: 500;
}

.dashboard .content_and_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3rem;
}

.heading_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  border: 20px solid violet;
}
