.home_section {
  display: flex;
  flex-direction: column;
  gap: var(--section-gaps);

  /* background-image: var(--main-bg-img); */

  text-align: center;
}
.dashboard {
  height: 70dvh;
  position: relative;

  @media (max-width: 600px) {
    height: 50dvh;
  }
}

.dashboard.bg_img {
  background: url(../assets/images/church-main.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.dashboard_screen {
  position: absolute;
  background-color: black;
  inset: 0;
  opacity: 0.25;
  isolation: isolate;
}

.dashboard_buttons {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2rem;

  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.kreupasanam_event {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  gap: 0.5rem;
}

.kreupasanam_event img {
  border-radius: var(--radius);
}

.sermons,
.upcoming_events,
.image_gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
