.footer {
  background-color: var(--primary-color);
  /* background-image: url("../assets/images/footer-bg.jpeg");
   */

  background-image: url("../assets/images/bg-imgs/footer-bg.jpeg");

  background-position: top;

  background-size: cover;

  background-position: bottom;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logo_container {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: flex-start;
}
.logo_container p {
  font-style: italic;
}
.footer_links {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;

  /* border-top: 2px solid black; */
}

.footer_NavLinks,
.footer_contactDetails,
.footer_socialLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-500);
  gap: 0.3rem;
}

.footer_NavLinks {
  flex: 0 0 30%;
}
.footer_NavLinks li {
  padding-left: 0.5rem;
}
