.footer {
  background-color: var(--primary-color);
  /* background-image: url("../assets/images/footer-bg.jpeg");
   */

  background-image: url("../assets/images/bg-imgs/footer-bg.jpeg");

  background-position: top;

  background-size: cover;

  background-position: bottom;
  color: #fff;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_container {
  padding-top: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: start;

  padding-left: 6%;

  max-width: 80%;
}

.footer .newsletter_container {
  display: flex;
  align-items: flex-start;
  justify-content: start;

  width: 100%;
}

.footer .randomverse_container {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.logo_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  text-align: center;
  max-width: 65%;
}
.logo_container p {
  font-style: italic;
}

.quicklinks_container {
  display: flex;
  flex-direction: column;
}
.quicklinks_withicon {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.footer_links {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;

  /* border-top: 2px solid black; */
}

.footer_NavLinks,
.footer_contactDetails,
.footer_socialLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--fs-500);
  gap: 0.3rem;
}

.footer .randomverse {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
