.grid_container {
  --aspect-ratio-1: 1;
  --aspect-ratio-variable: 1.1;

  --grid-gap: 1.1rem;

  --border-radius: 0.5rem;

  max-width: 100rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.product_grid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.card {
  /* border: 3px solid hotpink; */
  aspect-ratio: 1 / var(--aspect-ratio-1);

  position: relative;
}

.members_card {
  aspect-ratio: 1 / var(--aspect-ratio-variable);

  position: relative;
}

.stacked {
  display: grid;
}
.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card_img {
  aspect-ratio: 1 / var(--aspect-ratio-1);
  object-fit: cover;

  border-radius: var(--border-radius);
}
.card_content {
  box-shadow: 0 0.25rem 1rem rgb(0 0 0/ 0.1);
  background-color: wheat;
  /* height: 30%; */

  align-self: end;
  margin-bottom: 0.5rem;
  margin-inline: 0.3rem;
  padding: 0.5rem;
  border-radius: var(--border-radius);

  position: absolute;
  inset: 0;
}

.contact_content {
  text-align: center;
}
