.name_display {
  text-align: center;
  background: var(--top-bar);
  color: var(--top-bar-text);
  font-family: var(--ff-poppins);
  padding-block: 1rem;

  /* border: 2px solid maroon; */
  /* max-height: 18dvh; */

  /* winter  */
  background-image: var(--nameDisplay-bg-img);

  background-position: top;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  /* gap: 4rem; */
}
.name_display img {
  width: 130px;
}

.name_display h1 {
  font-weight: bold;
  font-family: var(--ff-poppins);
  font-size: var(--fs-namedisplay);
  color: var(--top-bar-text);
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.name_display span {
  color: var(--background-color);
  color: var(--top-bar-text);
  letter-spacing: 1.4px;
}
