.name_display {
  text-align: center;
  background: var(--top-bar);
  color: var(--top-bar-text);
  font-family: var(--ff-poppins);
  padding-block: 1rem;
}
.name_display h2 {
  font-weight: bold;
  font-family: var(--ff-poppins);
  color: var(--top-bar-text);
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1.4px;
}

.name_display span {
  color: var(--background-color);
  color: var(--top-bar-text);
  letter-spacing: 1.4px;
}
