.main_nav_container {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 10dvh;

  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: var(--clr-primary-100);

  border: 2px solid red;
}

.hamburgermenu {
  display: none;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: var(--page-gap-l);
  /* border: 2px solid green; */

  padding-left: 0;
  margin-left: 0;
}

.active {
  font-weight: bolder;
}

.nav_item {
  font-size: var(--fs-500);
}

@media (max-width: 800px) {
  .navlinks,
  .input-box {
    display: none;
  }

  .hamburgermenu {
    display: block;
  }
}
