.newsletter {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;

  /* background-image: url(banner.png); */
  background: lightblue;
  background-position: center;
  background-size: cover;
  min-height: 25dvh;

  border-radius: 1rem;

  @media (max-width: 1000px) {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.8rem;
  }
}

.newsletter .content p {
  color: #022725;
}
.newsletter .content p span {
  /* color: goldenrod; */
  font-weight: bold;
}

/* email */
.email {
  display: flex;
  gap: 0.5rem;
}

.newsletter .email input {
  width: 16rem;
  font-size: var(--fs-500);
  outline: none;
  border: none;
  background-color: #fff;

  padding-block: var(--padding-btn);
  padding-left: 0.6rem;

  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 30%);
}
.newsletter .email input::placeholder {
  font-size: var(--fs-500);
  color: #000;
  opacity: 0.6;
}
