.top_bar {
  padding-block: var(--fs-600);

  background-color: var(--primary-color);
  margin-bottom: 0;
}

.contact_info {
  /* along with flex_row */
  display: flex;
  align-items: center;
  gap: var(--fs-100);
  justify-content: space-between;
}

.contact_details,
.social_links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.random_quote {
  text-align: center;
}

.random_verse h4 {
  font-family: "Lobster", cursive, sans-serif;
  color: aliceblue;
}

@media (max-width: 800px) {
  .contact_details,
  .social_links {
    gap: 0.8rem;
  }
}
