.top_bar {
  border-bottom: 2px solid black;
  padding-block: var(--fs-200);

  /* along with flex_row */
  display: flex;
  justify-content: space-between;
}

.contact_details,
.social_links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.contact_info {
  display: flex;
  align-items: center;
  gap: var(--fs-100);
}

@media (max-width: 800px) {
  .contact_details,
  .social_links {
    gap: 0.8rem;
  }
}
