* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;

  letter-spacing: 1px;
  line-height: 1.4;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

/* Flex Classes */
.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}
